.hidden{
	display:none;
}
  .noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
  @font-face {
    font-family: "Whitney SSm","Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  html, body {
    font-family: "Whitney SSm","Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  buttons,input,textarea,select {
    font-family: monospace;
  }