.wallet-item {
	&.card {
		width: 100%;
	}
}

.exchange-table-wrapper{
  .reactive-table-navigation {
    position: relative;
    display: flex;
    justify-content: flex-end;
    > div{
      clear: both;
    }
    .page-number {
      margin-left: 15px;
    }
    label{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    input{
      width: 50px;
      padding: 10px;
      margin: 0 5px;
    }
  }
}

.exchange-body {
  margin: 0 15px 0 15px;
  padding: 15px;
  background: white;
}
