<template name="desktop">
    <div class="wrapper">
        <!-- Top Navbar -->
        {{> topnav}}
        <!-- Sidebar -->
        <nav id="sidebar">
            {{> menu}}
        </nav>
        <!-- Content -->
        <div id="content">
            {{> Template.dynamic template=main}}
            {{> Template.dynamic template=bottom}}
        </div>
    </div>
</template>

<template name="luxDesktop">
  {{> sAlert}}
  {{> Template.dynamic template=left}}
    <div class="container" style="margin-top:120px">
        {{> Template.dynamic template=main}}
        {{> Template.dynamic template=bottom}}
    </div>
</template>