.wrapper {
  display: flex;
  align-items: stretch;
}
#topnav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  z-index: 9;
  &:after{
    bottom: -5px;
    box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, .06);
    content: "";
    height: 5px;
    left: 0px;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 2050;
  }
  button, a{
    outline: none;
    color: #1a1a1a;
    border: none;
  }
  .navbar-brand{
    margin-left: 1em;
  }
}
#sidebar {
  position: fixed;
  top: 60px;
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  margin-left: -250px;
  background: rgba(0,0,0,0.05);
  transition: all 0.2s ease;
  &.active {
    margin-left: 0;
    + #content{
      margin-left: 250px;
    }
  }
  .sidebar-header {
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  ul{
    li a{
      display: block;
      padding: 15px;
      color: #1a1a1a;
      &:hover, &.active{
        text-decoration: none;
        background: #ddd;
      }
    }
  }
}
#content{
  padding-top: 80px;
  flex: 1;
  background-image: linear-gradient(to bottom right, #f7f7f7, #eafbff);
  transition: all 0.2s ease;
}
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}