<head>
  <title>BLOCKRAZOR</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="http://fonts.wsj.net/fonts/wsj-fonts.css"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://momentjs.com/downloads/moment.min.js"></script>
  <style>
  @font-face {
    font-family: "Whitney SSm","Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  html, body {
    font-family: "Whitney SSm","Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  buttons,input,textarea,select {
    font-family: monospace;
  }
  </style>
</head>
