.comment-box{
  .btn{
    max-width: 200px;
  }
  #charNum{
    min-height: 20px;
  }
  .submit-comment{
    display: flex;
    align-items: center;
    i{
      font-size: 20px;
    }
  }
}

.form-check {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 1em;

  .form-check-item + .form-check-item{
    margin-right: 1em;
  }

  .form-check-item {
    .custom-checkbox {
      .form-check-input {
        margin-left: 0px;
      }
      .form-check-label {
        margin-left: 10px;
      }
    }
  }
}