<template name="sideNav">
  <div class="nav-side-menu-container">
    <div class="nav-side-menu">
        <div class="menu-list">
            <div class="sidebar-header">
                {{#if currentUser}}
                <ul class="list-unstyled components d-sm-none">
                    <li>
                        <a href="/wallet"><strong>Balance: {{balance}} KZR</strong></a>
                    </li>
                </ul>
                {{else}}
                <a href="/login" class="btn btn-success sign-in-button">Sign In</a> {{/if}}
            </div>
            <ul id="menu-content" class="menu-content collapse out">
                {{#unless currentUser.suspended}}
				<li class="{{activeClass 'home'}}">
                    <a href="/">Home</a>
                </li>
                <li class="{{activeClass 'compare-currencies'}}">
                    <a href="/compareCurrencies">Compare currencies</a>
                </li>
                <li class="{{activeClass 'exchanges'}}"><a href="/exchanges">Exchanges</a></li>
                <li class="{{activeClass 'addcoin'}}"><a href="/addcoin">Add New Coin or ICO</a></li>
                <li class="{{activeClass 'bounties'}}"><a href="/bounties">Bounties
                  {{#if hasBounties activeBounties }}
                    <span class="badge badge-danger">{{ activeBounties.length }}</span>
                  {{/if}}
                </a></li>
                <li class="{{activeClass 'problems'}}"><a href="/problems">Problems</a></li>
                <li class="{{activeClass 'all-auctions'}}"><a href="/auctions">Trading</a></li>
                <li class="{{activeClass 'priceChart'}}"><a href="/priceChart">Krazor price chart</a></li>
                <li class="{{activeClass 'distribution'}}"><a href="/distribution">Krazor distribution</a></li>
                {{#if currentUser}}
                <li class="{{activeClass 'mypending'}}"><a href="/mypending">My Pending Items</a></li>
                <li class="{{activeClass 'notifications'}}"><a href="/notifications">Notifications
                  {{#if activityNotifications}}<span class="badge badge-success">{{activityNotifications}}</span>{{/if}}
                </a></li>
                <li class="{{activeClass 'wallet'}}"><a href="/wallet">My Wallet
                  {{#if walletNotifications}}<span class="badge badge-success">{{walletNotifications}}</span>{{/if}}
                </a></li>
                {{/if}}
                {{#if isModerator}}
                <li data-toggle="collapse" data-target="#service" class="collapsed">
                    <a href="#">Moderator Dashboard <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="service">
                    <li><a class="sub-item {{activeClass 'moderator'}}" href="/moderator/">Approvals</a></li>
                    <li><a class="sub-item {{activeClass 'changedCurrencies'}}" href="/changedCurrencies/">Proposed Changes</a></li>
                    <li><a class="sub-item {{activeClass 'flaggedUsers'}}" href="/moderator/flagged-users">Flagged IP addresses</a></li>
                    <li><a class="sub-item {{activeClass 'candidates'}}" href="/moderator/candidates">Moderator candidates</a></li>
                    <li><a class="sub-item {{activeClass 'flagged-hashpower'}}" href="/moderator/flagged-hashpower">Flagged Hashpower</a></li>
                    <li><a class="sub-item {{activeClass 'questions'}}" href="/moderator/questions">Manage Rating Questions</a></li>
                    <li><a class="sub-item {{activeClass 'app-logs'}}" href="/moderator/applogs">Application logs</a></li>
                    <li><a class="sub-item {{activeClass 'solved-problems'}}" href="/moderator/solved-problems">Solved Problems</a></li>
                    <li><a class="sub-item {{activeClass 'pardon'}}" href="/moderator/pardon">Pardon Suspended Users</a></li>
                    <li><a class="sub-item {{activeClass 'flagged'}}" href="/moderator/flagged">Flagged Content</a></li>
                    <li><a class="sub-item {{activeClass 'transactions'}}" href="/transactions/1">All Blockrazor Transactions</a></li>
                </ul>
                {{/if}}
                {{else}}
                <h3 style="text-align: center">Suspended</h3>
                <li class="{{activeClass 'home'}}"><a href="/">Home</a></li>
                <li class="{{activeClass 'problems'}}"><a href="/problems">Problems</a></li>
                {{/unless}}
            </ul>
        </div>
    </div>
  </div>
</template>
