#sidebar {
  position: fixed;
  top: 60px;
      overflow-y: scroll;
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  margin-left: -250px;
  background: #ddd;
  transition: all 0.2s ease;
  z-index: 9;
  &.active {
    margin-left: 0;
    + .app-content{
      margin-left: 375px;
    }
  }
  .sub-menu{
  color:#fff
  }
  .sidebar-header {

    font-size: 15px;
    text-align: center;
    padding-top: 10px;
  }
  ul{
    li a{
      display: block;
      padding: 0 0 0 15px;
      color: #1a1a1a;
    }
  }
  @media (max-width: 768px) {
    &.active {
      margin-left: 0;
      + .app-content{
        position: relative;
        margin-left: 0;
        &:after{
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0.6);

        }
      }
    }
  }
}
