#sidebar {
  position: fixed;
  top: 60px !important;
  overflow-y: hidden;
  min-width: 225px;
  max-width: 225px;
  min-height: 100vh;
  margin-left: -225px;
  background: #ddd;
  transition: all 0.2s ease;
  z-index: 9;
  &.active {
    margin-left: 0;
    + .app-content{
      margin-left: 225px;
    }
  }
  .sub-menu{
  color:#fff
  }
  .sidebar-header {

    font-size: 15px;
    text-align: center;
    padding-top: 10px;
  }
  ul{
    li a{
      display: block;
      padding: 0 0 0 15px;
      color: #1a1a1a;
    }
  }
  @media (max-width: 768px) {
    &.active {
      margin-left: 0;
      box-shadow: 0 10px 25px 0 rgba(46, 61, 73, 0.5);
      + .app-content{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        &:after{
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;

        }
      }
    }
  }
}


/** following styles added after sidebar submenu concept implemented **/
.nav-side-menu-container {
  overflow-y: scroll;
  max-height: calc(100vh - 60px);
  position: absolute;
  left: 0;
  right: -25px;

  .sign-in-button {
    margin-bottom: 15px;
  }
}

.nav-side-menu {
  font-size: 12px;
  font-weight: 200;
  background-color: #ddd;
  width: 225px;
  height: 100%;
  color: #e1ffff;
  position: relative;
  width: 100%;
  margin-bottom: 10px;

  .brand {
    background-color: #23282e;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
  }
  .toggle-btn {
    display: none;
  }

  .sub-item{
    margin-left:15px !important;
    padding-left:15px !important;
    color:#fff !important;
  }

  li {
    padding-left: 0px;
    a {
      text-decoration: none;
      color: #e1ffff;
      i {
        padding-left: 10px;
        width: 20px;
        padding-right: 20px;
        color:#fff;
      }
    }
  }

  .menu-list .menu-content {
    display: block;
  }

  ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
    
    .sub-menu {
      li {
        background-color: #343a40;
        border: none;
        line-height: 28px;
        margin-left: 0px;
      }
      li:before {
        margin-left:20px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        vertical-align: middle;
      }
      a {
        padding-left:50px;
      }
      li.active, li.active a {
        color: #000;
      }
    }
  }
  ul.active,
  li.active {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
  }
  ul :not(collapsed) .arrow:before,
  li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 45px;
    vertical-align: middle;
    float: right;
  }
}
 