/* Shared - Header
-------------------------------------------------- */

header {
    .sidebar-toggler {
        border-color: #bbb !important;

        &:focus {
            outline: none;
        }
        &:hover {
            opacity: 0.8;
        }

        /** TODO: replace this with fontawesome hamburger icon after fontawesome library added **/
        .navbar-toggler-white-icon {
            display: inline-block;
            width: 1.5em;
            height: 1.5em;
            vertical-align: middle;
            content: "";
            background: no-repeat center center;
            background-size: 100% 100%;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }
    }
}
