
.slider.slider-horizontal:hover, .slider.slider-vertical:hover {
  .tooltip.tooltip-main { 
    opacity: 1 !important; 
  } 
}

.slider.slider-horizontal{
  width:100%;
}

.currencyFilterModal{

  .date-slider-container{
    padding: 5px 30px 15px 30px;
    .date-slider {
      display: inline-block;
    }
  }

  .horizontal-separator {
    border-top: 1px solid #cccccc;
    width: 100%;
    display: inline-block;
  }

  .apply-filter-button {
    background-color: #eeeeee;
  }

  .apply-filter-button:hover {
    background-color: #dddddd;
  }

}

.currency-card {
  .top-redflag {
    width: 100%;
    margin-top: -20px !important;
    .top-redflag-text {
      float: right;
      text-align: left;
      padding-right: 10px;
      max-width: calc(100% - 170px);
      .fa {
        position: absolute;
        width: 20px;
        padding-top: 3px;
        display: inline-block;
      }
      .text{
        padding-left: 20px;
        width: 100%;
        display: inline-block;
      }
    }
  }
}