
.slider.slider-horizontal:hover, .slider.slider-vertical:hover {
  .tooltip.tooltip-main { 
    opacity: 1 !important; 
  } 
}

.slider.slider-horizontal{
  width:100%;
}

.currencyFilterModal{

  .date-slider-container{
    padding: 5px 30px 15px 30px;
    .date-slider {
      display: inline-block;
    }
  }

  .horizontal-separator {
    border-top: 1px solid #cccccc;
    width: 100%;
    display: inline-block;
  }

  .apply-filter-button {
    background-color: #eeeeee;
  }

  .apply-filter-button:hover {
    background-color: #dddddd;
  }

}

.home-text-value {
  font-size: 1rem !important;
  font-weight: 500 !important;
}

.currency-card {
  .top-redflag {
    position: relative;
    .fa {
      position: absolute;
      width: 20px;
      padding: 5px 0 10px 0;
      display: inline-block;
    }
    .text{
      padding: 0 0 10px 20px;
      max-width: 400px;
      display: inline-block;
    }
  }
  &.auction{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.75em;
    text-decoration: none;
    .header{
      padding: 1em 0;
      font-size: 3em;
      i{
        font-size: 2em;
      }
    }
    .graph{
      text-align: center;
    }
    .footer{
      display: flex;
      align-items: center;
      justify-content: center;
      a{
        display: block;
        width: 100%;
      }
    }
  }
}

.top-bid-currency {
  .header {
    width: 400px;
  }
}

@media (max-width: 480px) {
  .top-bid-currency {
    .header {
      width: 320px;
    }
  } 
}