
.slider.slider-horizontal:hover, .slider.slider-vertical:hover {
  .tooltip.tooltip-main { 
    opacity: 1 !important; 
  } 
}

.slider.slider-horizontal{
  width:100%;
}

.currencyFilterModal{

  .date-slider-container{
    padding: 5px 30px 15px 30px;
    .date-slider {
      display: inline-block;
    }
  }

  .horizontal-separator {
    border-top: 1px solid #cccccc;
    width: 100%;
    display: inline-block;
  }

  .apply-filter-button {
    background-color: #eeeeee;
  }

  .apply-filter-button:hover {
    background-color: #dddddd;
  }

}