span.twitter-typeahead .tt-input,
span.twitter-typeahead .tt-hint {
  max-width: 200px;
}

.typeahead.dropdown-menu,
span.twitter-typeahead .tt-menu {
  /* fixed wrong semicolon which causing the styles to not apply */
  z-index: 1051 !important;
  min-width: 40%;
  background: white;
  /*as large as input*/
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  border-radius: 0;
  font-size: 0.8rem;
}

span.twitter-typeahead .tt-suggestion {
  color: #000;
  cursor: pointer;
  padding: 0.5rem;
  text-transform: capitalize;
  font-weight: 400;
  z-index: 0
}

span.twitter-typeahead .active.tt-suggestion,
span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .active.tt-suggestion:focus,
span.twitter-typeahead .tt-suggestion.tt-cursor:focus,
span.twitter-typeahead .active.tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion.tt-cursor:hover {
  background-color: #EEEEEE;
  color: #4285F4;
}

label.active {
  color: #666 !important;
}

.typeahead-container .typeahead {
  /* removed display as inline block */
  float: left;
  width: 15em;
}

.typeahead-container .createItem {
    /* removed display as inline block */

  float: right;
}