//These were added by someone for the login page but added to the core LUX scss.. had to remove as we switched to the NPM bootwatch module.
// Colors //////////////////
$colorLightGreen : #5cb85c;

// Font Weight
$fwBold: 600;
$fwLight : 400;

///////////////////////////
