<template name="layout">
    <div class="layout">
        {{> Template.dynamic template=header}}
        <div class="app-body">
            {{> Template.dynamic template="sidebar"}}
            <main class="main">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">{{breadcrumbs}}</li>
                </ol>
                <div class="container-fluid" style="margin-top: 30px; margin-bottom: 100px;">
                    {{> Template.dynamic template=main}}
                </div>
                {{> Template.dynamic template=footer}}
            </main>
        </div>
    </div>
</template>