<template name="layout">
  <div class="layout">
    {{> Template.dynamic template=header}}
    <div class="app-body">
      {{> Template.dynamic template="sidebar"}}
      <main class="main">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            {{#each breadcrumbs}}
              <a href="{{url}}">{{text}}</a>
              {{#if notLast}} / {{/if}}
            {{/each}}
          </li>
          <li class="breadcrumb-menu d-md-down-none filterComponent" style="display:none">
            <div class="btn-group" role="group" aria-label="Button group">
              <a class="btn" href="#">
                <i class="fa fa-filter" aria-hidden="true"></i> &nbsp;{{_ "header.filter"}}</a>
            </div>
          </li>
        </ol>
        <div>
          {{> Template.dynamic template=main}}
        </div>
      </main>
      {{> Template.dynamic template=footer}}
    </div>
  </div>
</template>