.bg-good {
  background-color: #91C499;
}

.bg-bad {
  background-color: #FF729F;
}

#dash {
  cursor: pointer;
}

.currencyDetailHeading {
  margin-top: 10px;
}

.currencyDetailBox {
  border-bottom: solid 1px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  display:block;
  overflow:hidden;

}

.bigCommentBox {
  display:block;
  width:100%;
  height:auto;
  float:right;
  clear: both;
  margin-top:5px;
}

.commentRating {
  width:30px;
  height:100px;
  float:left;
  border-style: solid;
  border-width: 1px;
}

.commentBody {
  height:auto;
  width:100%;
  border-style: solid;
  border-width: 1px;
  border-bottom: none;
  text-align: justify;
  padding: 3px;

}

.commentAnalysis {
  width:30px;
  height:100px;
  border-style: solid;
  border-width: 1px;
}

.commentResponse {
  clear:both;
  margin-left:10%;
}

.commentAuthor {
  display:flex;
  position:absolute;
  top: 0;
  right: 0;

}

.commentFooter {
  display: block;
  padding-right: 5px;
  padding-left: 5px;

  height:24px;
  width: 100%;
  border-bottom: solid 1px;
  border-left: solid 1px;
  border-right: solid 1px;
}

.heading-wrapper i {
  font-size: 36px;
  color: #0daeda;
}

.heading-wrapper h2 {
  font-size: 32px;
  font-weight: 400;
  color: #02b3e4;
}

.form-cards {
  background-image: linear-gradient(to bottom right, #f7f7f7, #eafbff);
}

.form-cards .card {
  color: #444;
  border: none;
  border-radius: 6px;
  box-shadow: 7px 10px 25px -5px rgba(46, 61, 73, 0.2);
  margin-bottom: 30px !important;
}

.form-cards .card input,
.form-cards .card textarea,
.form-cards .card select {
  font-size: 14px;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: none;
  padding: 10px 16px;
  margin-bottom: 10px;
}

.form-cards .card input, 
.form-cards .card select {
  height: 40px;
}

.form-cards .card input:focus {
  outline: none;
}

.form-cards .card textarea {
  height: 100px;
}

.form-cards .card input[type="radio"] {
  height: auto;
  margin-top: 10px;
}

.additional-info textarea {
  font-size: 14px;
  border-radius: 5px;
  box-shadow: none;
  padding: 10px 16px;
}

.custom-control-input:checked~.custom-control-indicator {
  background-color: #0daeda !important;
}

.tooltip-wrapper {
  position: relative;
  width: 100%;
}

.tooltip-wrapper .tooltip-content {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  font-size: 14px;
  border: 1px solid #02b3e4;
  border-radius: 6px;
  z-index: 99;
  padding: 15px 18px 13px;
}

.tooltip-wrapper .tooltip-content:before,
.tooltip-wrapper .tooltip-content:after {
  position: absolute;
  content: '';
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.tooltip-wrapper .tooltip-content:before {
  top: -10px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #02b3e4;
}

.tooltip-wrapper .tooltip-content:after {
  top: -9px;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  border-bottom: 9px solid #fff;
}

.submit-form button {
  height: 35px;
  width: 97px;
  background-color: transparent;
  color: #02b3e4;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 3px;
  border-style: none;
  border: 1px solid #02b3e4;
  cursor: pointer;
  margin-right: 15px;
  transition: all 0.3s;
}

.submit-form button:hover {
  color: #fff;
  background-color: #02b3e4;
}