body{font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: 400;}

* {
  border-radius: 0 !important;
}



.bg-good {
  background-color: #91C499;
}

.bg-bad {
  background-color: #FF729F;
}

#dash {
  cursor: pointer;
}

.currencyDetailHeading {
  margin-top: 10px;
}

.currencyDetailBox {

  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  display:block;
  overflow:hidden;

}

.bigCommentBox {
  display:block;
  width:100%;
  border: solid 1px #ddd;
  height:auto;
  float:right;
  clear: both;
  margin-top:5px;
}

.commentRating {
  width:30px;
  height:100px;
  float:left;
  border-style: solid;
  border-width: 1px;
}

.commentBody {
  height:auto;
  width:100%;
  text-align: justify;
  padding:10px;
  background: #f5f5f5;

}

.commentAnalysis {
  width:30px;
  height:100px;
}

.commentResponse {
  clear:both;
  margin-left:10%;
}

.commentAuthor {
  display:flex;
  position:absolute;
  top: 0;
  right: 0;

}

.commentFooter {
  display: block;
  padding-right: 5px;
  padding-left: 5px;
  height:24px;
  width: 100%;

}

.heading-wrapper i {
  font-size: 36px;
  color: #0daeda;
}

.heading-wrapper h2 {
  font-size: 32px;
  font-weight: 400;
  color: #02b3e4;
}

.form-cards {
  background-image: linear-gradient(to bottom right, #f7f7f7, #eafbff);
}

.form-cards .card {
  color: #444;
  border: none;
  border-radius: 6px;
  box-shadow: 7px 10px 25px -5px rgba(46, 61, 73, 0.2);
  margin-bottom: 30px !important;
}

.form-cards .card input,
.form-cards .card textarea,
.form-cards .card select {
  font-size: 14px;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: none;
  padding: 10px 16px;
  margin-bottom: 10px;
}

.form-cards .card input, 
.form-cards .card select {
  height: 40px;
}

.form-cards .card input:focus {
  outline: none;
}

.form-cards .card textarea {
  height: 100px;
}

.form-cards .card input[type="radio"] {
  height: auto;
  margin-top: 10px;
}

.additional-info textarea {
  font-size: 14px;
  border-radius: 5px;
  box-shadow: none;
  padding: 10px 16px;
}

.custom-control-input:checked~.custom-control-indicator {
  background-color: #0daeda !important;
}

.tooltip-wrapper {
  position: relative;
  width: 100%;
}

.tooltip-wrapper .tooltip-content {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  font-size: 14px;
  border: 1px solid #02b3e4;
  border-radius: 6px;
  z-index: 99;
  padding: 15px 18px 13px;
}

.tooltip-wrapper .tooltip-content:before,
.tooltip-wrapper .tooltip-content:after {
  position: absolute;
  content: '';
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.tooltip-wrapper .tooltip-content:before {
  top: -10px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #02b3e4;
}

.tooltip-wrapper .tooltip-content:after {
  top: -9px;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  border-bottom: 9px solid #fff;
}

.submit-form button {
  height: 35px;
  width: 97px;
  background-color: transparent;
  color: #02b3e4;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 3px;
  border-style: none;
  border: 1px solid #02b3e4;
  cursor: pointer;
  margin-right: 15px;
  transition: all 0.3s;
}

.submit-form button:hover {
  color: #fff;
  background-color: #02b3e4;
}
.p15{ padding: 15px;} 

.currencyDetailBox.card h5 { margin: 0 -20px 10px;  border-bottom: solid 1px #ddd; color:#fff;   padding: 10px 15px;  background: #868e96;}
.currencyDetailBox.card h3 { margin: 15 0 0;}
.commentThread .commentText .text-muted{ float: right;}
.newcomment-Yk3JP2qao5KdCHjHQ textarea .replyText{border: solid 1px #ddd;  margin-top: 10px; min-height: 50px;}
.replyFooter-Yk3JP2qao5KdCHjHQ, .replyFooter-LhSrXZoNqWB4xWtdP {text-align: right; margin: 15px 0px; }
.showAddNewRedflag, #addNewFeature{ margin:0 0 0;}
.commentFooter{ margin:5px 0 10px}
.commentBody { float: left;}
.commentFooter .fa-thumbs-up{color:#f6c163}
.commentFooter .fa-thumbs-down {color:#eb6357}
.commentFooter .fa-comments-o {color:#37b358;}
.commentFooter .fa-flag{color:#5f99f5;}
.replyFooter-5CSu6iPkNavLe8bNT{ float:right;}