* {
  border-radius: 0 !important;
}

.bg-good {
  background-color: #91C499;
}

.bg-bad {
  background-color: #FF729F;
}

#dash {
  cursor: pointer;
}

.currencyDetailHeading {
  margin-top: 10px;
}

.currencyDetailBox {
  border-bottom: solid 1px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  display:block;
  overflow:hidden;

}

.bigCommentBox {
  display:block;
  width:100%;
  height:auto;
  float:right;
  clear: both;
  margin-top:5px;
}

.commentRating {
  width:30px;
  height:100px;
  float:left;
  border-style: solid;
  border-width: 1px;
}

.commentBody {
  height:auto;
  width:100%;
  border-style: solid;
  border-width: 1px;
  border-bottom: none;
  text-align: justify;
  padding: 3px;

}

.commentAnalysis {
  width:30px;
  height:100px;
  border-style: solid;
  border-width: 1px;
}

.commentResponse {
  clear:both;
  margin-left:10%;
}

.commentAuthor {
  display:flex;
  position:absolute;
  top: 0;
  right: 0;

}

.commentFooter {
  display: block;
  padding-right: 5px;
  padding-left: 5px;

  height:24px;
  width: 100%;
  border-bottom: solid 1px;
  border-left: solid 1px;
  border-right: solid 1px;
}
