/* Shared - Footer
-------------------------------------------------- */

/* Simple sticky */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height:10vh;
  background-color: #eceeef;
}

.app-footer.footer{
  margin-left: 0 !important;
  justify-content: center;
}
