<template name="bounties">
  bounties
  {{#each bounties}}{{> bountyRender}}{{/each}}
</template>

<template name="bountyRender">
  <div class="card" style="margin-top:10px;">
  <div class="card-block">
    <h4 class="card-title">{{bountyTypeHeading}} for {{currencyName}} <div class="float-right" style="display:inline-flex"><div style="width:120px;margin-left:6px;">{{reward}}</div> KZR</div></h4>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
    <div class="card-text"><b>Problem:</b> {{problem}} {{currencyName}}.</div>
    <div class="card-text"><b>Solution:</b> {{solution}}.</div>
    <div class="float-right" style="display:inline-flex;clear:both;"><button type="button" class="btn {{outline}}">Take Bounty</button></div>
    <div class="float-right" style="display:inline-flex;clear:both;"><i>{{workingText}}</i></div>

  </div>
</div>

</template>
