.currency-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.currency-card{
  position: relative;
  background: #fff;
  color: #444;
  border: none;
  border-radius: 6px;
  padding: 10px;
  margin: 10px !important;
  transition: all 0.5s ease;
  // max-width: 480px;
  &:hover{
    cursor: pointer;
    box-shadow: 7px 10px 25px -5px rgba(46, 61, 73, 0.2);
  }
  .header, .footer {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 5px;
  }
  canvas{
    margin: 0 auto;
  }
}