<template name="currencyDetail">

    <div class="card border-secondary mb-3 mb-3" style="min-width:300px;overflow:hidden;">
    <div class="card-header" style="height:50px"><h4 class="pull-left">{{currencyName}} {{#with thiscurrency}}({{currencySymbol}}) {{/with}}
  </h4><h4 class="pull-right">RazorRank: {{razorRank}}</h4></div>
    <div class="card-body" style="display:{{bodydisplay}};">
      {{#with thiscurrency}}{{> fundamentalMetrics}}{{/with}}
      {{#with thiscurrency}}{{> features}}{{/with}}
      {{#with thiscurrency}}{{> discussion}}{{/with}}
    </div></div>


</template>

<template name="fundamentalMetrics">
  <div class="currencyDetailBox">
  <h5 class="text-center currencyDetailHeading">Fundamental Metrics</h5>
  <div style="width:100%"><canvas class="mx-auto" id="radar"></canvas></div>
  <div class="row" style="margin-top:10px;">
<div class="col-lg-3">
  <div class="btn-group-vertical">
{{#each metrics}}
<button id="name" type="button" class="btn btn-secondary">{{name}}</button>
{{/each}}
</div>
</div>
<div class="col-lg-9">
  {{#each metrics}}
  <div id={{_id}} style="display:none;" class="">{{currencyName}} {{name}} text <br /> <hr /> {{metricDescription}}</div>
  {{/each}}
</div>
</div>
</div>
</template>

<template name="features">
<div class="currencyDetailBox">
  <h5 class="text-center currencyDetailHeading">Features</h5>
  <div class="row" style="margin-top:10px;">
<div class="col-lg-3">
  <div class="btn-group-vertical">
{{#each features}}
<button id="name" type="button" class="btn btn-secondary">{{name}}</button>
{{/each}}
</div>
</div>
<div class="col-lg-9">
  {{#each features}}
  <div id={{_id}} style="display:none;" class="">{{currencyName}} {{name}} text <br /> <hr /> {{featureDescription}}</div>
  {{/each}}
</div>
</div>
</div>
</template>

<template name="discussion">
<div class="currencyDetailBox">
  <h5 class="text-center currencyDetailHeading">Discussion</h5>
  {{#each topComment}}
  <div class="commentThread">
    <div class="bigCommentBox">
      <div class="commentRating"></div>
      <div class="commentBody">
        <div class="commentText">{{commentText}}</div>
        <div class="commentAuthor">{{authorName}}</div>
      </div>
      <div class="commentAnalysis"></div>
    </div>
    {{#each topReply}}
    <div class="commentResponse">
    <div class="commentRating"></div>
    <div class="commentBody">
      <div class="commentText">{{commentText}}</div>
      <div class="commentAuthor">{{authorName}}</div>
    </div>
    </div>
    {{/each}}
  </div>
  {{/each}}
  <div class="text-right">{{totalComments}} more</div>
</div>

</template>
