
<template name="menu">
  BLOCKRAZOR<br />
  {{#if currentUser}}
  <div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     {{currentUser.username}}
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/profile">Edit Profile</a>
    <a class="dropdown-item" href="#" id="js-logout">Logout</a>
  </div>
</div>
  {{else}}
  <a href="/login">Sign in</a>
  {{/if}}<br/>
  {{#if currentUser }}
  <a href="/addcoin">Add New Coin</a><br />
  <a href="/mypending">My Pending Coins and Changes</a><br />
  {{#if isModerator}}
  <a href="/moderator">Moderator Dashboard</a><br />
  <a href="/changedCurrencies">Proposed Changes</a><br />
  {{/if}}
  <a href="/notifications">Notifications</a> {{#if currentUser }}{{#if totalNotifications}}<a href="#" class="badge badge-success">{{totalNotifications}}</a>{{/if}}{{/if}} <br />
  <a href="/wallet">My Wallet</a><br />
  <a href="/bounties">Bounties</a><br />
  <a href="/ratings">Ratings</a><br />
  <a href="/communities">Communities</a><br />
  <a href="/codebase">Codebase</a><br />
  <a href="/hashpower">Hash Power</a>
  {{/if}}
</template>

<template name="luxMenu">
  <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <div class="container">
        <a href="../" class="navbar-brand"><img src="/images/logo.small.svg" style="width:1.5em;padding-right:5px"> BLOCKRAZOR</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarResponsive" style="">
          <ul class="navbar-nav">
            {{#if currentUser }}
            <li class="nav-item">
              <a href="/addcoin" class="nav-link">Add New Coin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ratings">Ratings</a>
            </li>
                        <li class="nav-item">
              <a class="nav-link" href="/Bounties">Bounties</a>
            </li>
            {{/if}}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download" aria-expanded="false">Moderator <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="download">
                <a class="dropdown-item" href="/moderator">Moderator Dashboard</a>
                <a class="dropdown-item" href="/changedCurrencies">Coin Changes</a>
              </div>
            </li>
          </ul>
          <ul class="nav navbar-nav ml-auto">
{{#if currentUser}}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download" aria-expanded="false">
                {{currentUser.username}} <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="download">
                <a class="dropdown-item" href="/notifications">Notifications</a>
                <a class="dropdown-item" href="/profile">Edit Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" id="js-logout">Logout</a>
              </div>
            </li>
{{else}}
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
{{/if}}            
          </ul>
        </div>
      </div>
    </div>
  </template>
