
<template name="menu">
  BLOCKRAZOR<br />
  {{#if currentUser}}
  <div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     {{currentUser.username}}
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/profile">Edit Profile</a>
    <a class="dropdown-item" href="#" id="js-logout">Logout</a>
  </div>
</div>
  {{else}}
  <a href="/login">Sign in</a>
  {{/if}}<br/>
  {{#if currentUser }}
  <a href="/addcoin">Add New Coin</a><br />
  <a href="/mypending">My Pending Coins and Changes</a><br />
   <a href="/changedCurrencies">Proposed Changes</a><br />
  {{#if isModerator}}
  <a href="/moderator">Moderator Dashboard</a><br />
  {{/if}}
  <a href="/notifications">Notifications</a> {{#if currentUser }}{{#if totalNotifications}}<a href="#" class="badge badge-success">{{totalNotifications}}</a>{{/if}}{{/if}} <br />
  <a href="/wallet">My Wallet</a><br />
  <a href="/bounties">Bounties</a><br />
  <a href="/ratings">Ratings</a><br />
  <a href="/communities">Communities</a><br />
  <a href="/codebase">Codebase</a><br />
  <a href="/decentralization">Decentralization</a><br />
  {{/if}}
</template>
