<template name="topnav">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="topnav">
    <div>
      <button class="navbar-toggler navbar-toggler-right" type="button" id="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">BLOCKRAZOR</a>
    </div>  
    <div>
        {{#if currentUser}}
        <a class="navbar-toggler">Notifications 
          {{#if activityNotifications}}<span><a href="/notifications" title="activity" class="badge badge-success">{{activityNotifications}}</a></span>{{/if}} 
          {{#if walletNotifications}}<span><a href="/wallet" title="wallet" class="badge badge-success">{{walletNotifications}}</a></span>{{/if}} 
        </a>

        <div class="dropdown show">
          <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{currentUser.username}}
          </a>      
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="/profile">Edit Profile</a>
          <a class="dropdown-item" href="#" id="js-logout">Logout</a>
        </div>
      </div>
      {{else}}
        <a href="/login">Sign in</a>
      {{/if}}
    </div>
  </nav>
</template>