<template name="currencyDetail">
    {{#with thiscurrency}}{{> currencyInfo}}{{/with}}
    <div class="card border-secondary mb-3 mb-3" style="min-width:300px;overflow:hidden;">
        <div class="card-header" style="height:50px">
            <h4 class="pull-left">Fundamental Metrics
  </h4></div>
        <div class="card-body" style="display:{{bodydisplay}};">
            {{#with thiscurrency}}{{> fundamentalMetrics}}{{/with}} {{#with thiscurrency}}{{> features}}{{/with}} {{#with thiscurrency}}{{> redflags}}{{/with}} {{#with thiscurrency}}{{> walletimages}}{{/with}}
        </div>
    </div>
</template>
<template name="walletimages">
    <div class="card border-secondary mb-3 mb-3" style="min-width:300px;overflow:hidden;margin-top:10px;">
        <div class="card-header" style="height:50px">
            <h4 class="pull-left">Wallet Images
  </h4></div>
        <div class="card-body">
            {{#each walletimages}}
            <img src="{{walletimagesdir}}{{_id}}.{{extension}}" style="width:100px;height:100px"> {{/each}}
        </div>
    </div>
</template>
<template name="fundamentalMetrics">
    <div class="currencyDetailBox">
        <h5 class="text-center currencyDetailHeading" id="fundamentalMetricsLocation">Fundamental Metrics</h5>
        <div style="width:100%">
            <canvas class="mx-auto" id="radar"></canvas>
        </div>
        <h5>Compare with:
  <select id="js-compare">
    <option value="">-</option>
    {{#each currencies}}
    <option value="{{_id}}">{{currencyName}}</option>
    {{/each}}
  </select></h5>
        <div id="js-comparing" style="height: 25px;">
            {{#each comparedCurrencies}}
            <span style="color: {{color}};">{{currencyName}}</span><sup><a href="#" class="js-delete">X</a></sup> {{/each}}
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-lg-3">
                <div class="btn-group-vertical">
                    {{#each metrics}}
                    <button id="name" type="button" class="btn btn-secondary">{{name}}</button>
                    {{/each}}
                </div>
            </div>
            <div class="col-lg-9">
                {{#each metrics}}
                <div id={{_id}} style="display:none;" class="">{{currencyName}} {{name}} text
                    <br />
                    <hr /> {{metricDescription}}</div>
                {{/each}}
            </div>
        </div>
    </div>
</template>
<template name="discussion">
    <div class="currencyDetailBox">
        <h5 class="text-center currencyDetailHeading">Discussion</h5> {{#each topComment}}
        <div class="commentThread">
            <div class="bigCommentBox">
                <div class="commentRating"></div>
                <div class="commentBody">
                    <div class="commentText">{{commentText}}</div>
                    <div class="commentAuthor">{{authorName}}</div>
                </div>
                <div class="commentAnalysis"></div>
            </div>
            {{#each topReply}}
            <div class="commentResponse">
                <div class="commentRating"></div>
                <div class="commentBody">
                    <div class="commentText">{{commentText}}</div>
                    <div class="commentAuthor">{{authorName}}</div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/each}}
        <div class="text-right">{{totalComments}} more</div>
    </div>
</template>
<template name="currencyInfo">
    <div class="card border-secondary mb-3 mb-3" style="min-width:300px;overflow:hidden;">
        <div class="card-header" style="height:50px">
            <h4 class="pull-left"><img style="width:50px; height:50px padding-right:15px" src="{{doesCoinImageExist currencyLogoFilename}}"><a href="/currencyEdit/{{slug}}">
              
              <i class="fa fa-edit" aria-hidden="true"></i></a>{{currencyName}} {{#with thiscurrency}}({{currencySymbol}}) {{/with}}
  </h4>
            <h4 class="pull-right">RazorRank: {{razorRank}}</h4></div>
        <div class="card-body" style="display:{{bodydisplay}};">
            <table class="table" style="float:left;width:45%">
                <tbody>
                    <tr>
                        <th scope="row">currencyName</th>
                        <td>{{isNull currencyName 'currencyName'}}</td>
                    </tr>
                    <tr>
                        <th scope="row">currencySymbol</th>
                        <td>{{isNull currencySymbol 'currencySymbol'}}</td>
                    </tr>
                    <tr>
                        <th scope="row">genesisTimestamp</th>
                        <td id="_genesisTimestamp">{{isDateNull genesisTimestamp 'genesisTimestamp'}}</td>
                    </tr>
                    <tr>
                        <th scope="row">premine</th>
                        <td>{{isNull premine 'premine'}}</td>
                    </tr>
                    <tr>
                        <th scope="row">circulating</th>
                        <td>{{isNull circulating 'circulating'}}</td>
                    </tr>
                    <tr>
                        <th scope="row">maxCoins</th>
                        <td>{{isNull maxCoins 'maxCoins'}}</td>
                    </tr>
                    <tr>
                        <th scope="row">consensusSecurity</th>
                        <td>{{isNull consensusSecurity 'consensusSecurity'}}</td>
                    </tr>
                    <tr>
                        <th scope="row">hashAlgorithm</th>
                        <td>{{isNull hashAlgorithm 'hashAlgorithm'}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table" style="float:right;width:45%">
                <tbody>
                    <tr>
                        <th scope="row">walletRanking</th>
                        <td>{{isNull walletRanking 'walletRanking'}}</td>
                    </tr>
                    <tr>
                        <th scope="row">gitUpdate</th>
                        <td>{{isNullReadOnly gitUpdate}}</td>
                    </tr>
                    <tr>
                        <th scope="row">gitCommits</th>
                        <td>{{isNullReadOnly gitCommits}}</td>
                    </tr>
                    <tr>
                        <th scope="row">marketCap</th>
                        <td>{{isNull marketCap 'marketCap'}}</td>
                    </tr>
                    <tr>
                        <th scope="row">gitRepo</th>
                        <td class="tableWrap"><a href="{{gitRepo}}" data-toggle="tooltip" title="{{gitRepo}}">{{isNull gitRepo 'gitRepo'}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>