.app-body {
  display: flex;
  align-items: stretch;
  background-image: linear-gradient(to bottom right, #f7f7f7, #eafbff);
}

.app-content{
  position: relative;
  padding-top: 80px;
  flex: 1;
  transition: all 0.2s ease;
  min-height: 100vh;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.top-nav .s-alert-box{
  z-index: 5000 !important;
}

#sidebar {
  top:86px !important;
  overflow: scroll;
}