.sign-in{
  position: relative;
  max-width: 420px;
  margin: 20px auto;
  background: #fff;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0px 4px 8px 3px rgba(17, 17, 17, 0.06);
  .title {
    font-size: 36px;
    text-align: center;
    padding: 30px 0;
  }
  input{
    font-size: 18px;
    line-height: 1.2;
    color: #686868;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 3px;
    padding: 0 15px;
    &:hover, &:focus, &:active{
      outline: none;
      box-shadow: none;
    }
  }
  button{
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 50;
    border-radius: 3px;
    margin-top: 20px;
  }
  .section-title{
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 16px;
    color: #999999;
    line-height: 1.4;
    text-align: center;
  }
  .login-options{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    a{
      font-size: 16px;
      line-height: 1.2;
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc((100% - 10px) / 2);
      height: 40px;
      border-radius: 3px;
      border: 1px solid #e6e6e6;
      background-color: #fff;
      transition: all 0.4s;
      margin: 0.5em 0;
      &:hover, &:focus, &:active{
        text-decoration: none;
        color: #000;
      }
      span{
        flex: 1;
      }
      i{
        padding: 0 20px;
      }
    }
  }
  .sign-up-link {
    position: relative;
    margin-top: 20px;
    a{
      color: #29363d;
      font-size: 14px;
      font-weight: 600;
      display: inline-block;
      padding-left: 10px;
    }
  }
}