/* Shared - Sidebar
-------------------------------------------------- */

@media (max-width: 767px) {
    html:not([dir="rtl"]) .sidebar-lg-show .sidebar {
        margin-left: 0px;
        box-shadow: 0 10px 25px 0 rgba(46, 61, 73, 0.7);
    }
}

.nav{
	.active{
	background-color:#3a4248;
	}
}

.sub-item {
  color: #fff !important;
}
