.wallet-item {
	&.card {
		width: 100%;
	}
}

.wallet-table-wrapper{
  width: 100%;
	.reactive-table-navigation {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-top: 1em;
    > div{
      clear: both;
    }
    .page-number {
      margin-left: 15px;
    }
    label{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    input{
      width: 50px;
      padding: 10px;
      margin: 0 5px;
    }
  }
  span.page-number-count {
    padding-left: 0.5em;
  }
}

.currency-card {
  padding: 15px;
  background: transparent;

  .card-content {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
    border-radius: 5px;
    padding: 0;
    text-align: center;
    background: white;
    cursor: pointer;

    .card-main {
      .card-logo {
        height: 100px;
        width: auto;
        margin: 18px auto;
      }

      h4 b {
        color: #999999;
        text-shadow: 2px 2px 4px #cccccc;
      }

      .balance {
        margin: 20px 0 20px 0;
        background: #29ab87;
        color: #fff;
      }

      i {
        font-size:7.5em; 
        padding:15px;
      }
    }

  }

  .card-content:hover {
    box-shadow: 0 10px 25px 0 rgba(46, 61, 73, 0.2);

    .see-transactions-label {
      color: #333333;
    }
  }

}

.wallet-outer {
  padding: 15px 15px 0 15px;

  #js-cur{
    border: none;
    background: #f4f4f4;
    padding: 10px;
  }

  a:hover {
    text-decoration: none;
  }
}

.wallet-body {
  margin: 0 15px 0 15px;
  padding: 15px;
  background: white;
}

// Filter Transactions
.filter-options{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0;
  h5{
    width: 100%;
  }
  .custom-control{
    padding-right: 1rem;
  }
}