// Search bar on home page
.search-bar {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  input{
    width: 100%;
    background: transparent;
    font-size: 16px;
    padding: 15px;
    border: none;
    border-bottom: solid 2px rgba(46, 61, 73, 0.2);
    background: #fff;
    color: #888;
    transition: all 0.5s ease;
    &:hover, &:focus, &:active{
      outline: none;
      box-shadow: 7px 10px 25px -5px rgba(46, 61, 73, 0.2);
    }
  }
  .found-result {
    position: relative;
    padding: 20px 0;
    font-size: 1rem;
    text-align: center;
  }
}

// List of currencies on home page
.currency-container {
  position: relative;
  padding-bottom: 50px;
  .currency-card{
    position: relative;
    background: #fff;
    color: #444;
    border: none;
    border-radius: 6px;
    padding: 10px;
    margin: 10px !important;
    transition: all 0.5s ease;
    max-width: 480px;
    &:hover{
      cursor: pointer;
      box-shadow: 7px 10px 25px -5px rgba(46, 61, 73, 0.2);
    }
    .header, .footer {
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      padding: 5px;
    }
    canvas{
      margin: 0 auto;
    }
    // Responsive
    @media screen and (max-width: 480px) {
      canvas{
        max-width: 320px;
        max-height: 240px;
      }
    }
  }
  
  .match-results{
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  // End result message
  .end-of-page {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 5em;
  }
}