.currency-info{
  position: relative;
  img.currency-logo{
    max-width: 80px;
    height: auto;
  }
  
  .name {
    font-size: 20px;
    padding-left: 20px;
    font-weight: 800;
  }

  .basic-details {
    position: relative;
    .card{
      margin: 5px 0;

      .title{
        font-weight: 600;
      }
      .value {
        padding-top: 5px;
        margin-left: 10px;
        padding-bottom: 5px;
      }
    }
  }
  .editable-input{
    input, select{
      background: transparent;
      border: none;
      box-shadow: none;
      border-bottom: dashed 1px;
      padding: 0 0 10px 0;
    }
  }
  .editableform{
    .editable-error-block.help-block {
      background: red;
      position: absolute;
      border: 0;
      left: 0;
      color: #fff;
      padding: 10px;
      transform: translateY(100%);
    }
  }
}

// Charts
.data-quality-rank {
  position: relative;
  margin-top: 40px;
}

.currency-features {
  margin: 50px 0;
}