// currency info styles
.currency-info-basic{
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  border: 0;
  text-align: center;
  width: 100%;

  .header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 15px 15px 0 15px;
    color: #444;
  }
  .basic-details {
    position: relative;
    .card{
      margin: 5px 0;

      .title{
        font-weight: 600;
      }
      .value {
        padding-top: 5px;
        margin-left: 10px;
        padding-bottom: 5px;
      }
    }
  }
  .editable-container{
    width: 100%;

    .editableform{
      width: 100%;
      .form-group{
        width: 100%;
        div {
          width: 100%;
          .editable-input{
            position: relative;
            width: 100%;
            input, select{
              background: transparent;
              border: none;
              box-shadow: none;
              border-bottom: dashed 1px;
              padding: 0 0 10px 0;
              position: relative;
              width: 100%;
              box-sizing : border-box;
            }
            .combodate {
              width: 100%;
              box-sizing : border-box;
              overflow-x: scroll;
            }
          }
          .editable-buttons{
            display: block;
            button{
              max-height: 20px;float: right;
              padding-top: 0;
              padding-bottom: 0;
              margin-top: 5px;
            }
          }
        }
      }
      .editable-error-block.help-block {
        background: red;
        position: absolute;
        border: 0;
        left: 0;
        color: #fff;
        padding: 10px;
        transform: translateY(100%);
        z-index: 2 !important;
      }
    }
  }
}

.no-margin {
	margin: 0 !important;
}

.addExchanges {
  margin-left: 15px;
  float: right;
}

.exchange-card {
  .untagExchange {
    outline: none;
    background: transparent;
    max-width: 25px;
    border: 0;
    cursor: pointer;
    float: right;
  }
}

.currency-info{
  max-height: 48px;
  .currency-brand-container {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;

    .currency-brand {
      display: inline-block;
      height: 48px;

      img.currency-logo{
        max-height: 48px;
        width: auto;
        display: inline-block;
        cursor: pointer;
        position: relative;
        float: left;
        @media (max-width : 450px) {
          display: none;
        }
      }
      .name {
        font-size: 20px;
        padding-left: 20px;
        padding-top: 10px;
        font-weight: 800;
        display: inline-block;
        position: relative;
        float: left;
      }
    }
  }
}
