<template name="addCoin">
  {{#if activeBounty}}
  <div class="alert alert-danger" role="alert">
  <h5 class="text-center">{{timeRemaining}}</h5></div>
  {{/if}}
<form name="addCurrency" id="addCurrency">
  <div class="form-group">
  <div class="card border-primary mb-3 float-left" style="max-width:600px;">
  <div class="card-body">
    <h5>Rules:</h5>
<div class="row">
  <label class="custom-control custom-checkbox active">
  <input type="checkbox" name="exists" value="exists" class="custom-control-input exists" checked="checked">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description noselect">This blockchain has been launched (genesis block has been mined)</span>
</label>
  <label class="custom-control custom-checkbox">
  <input type="checkbox" name="ICO" value="ICO" class="custom-control-input isICO">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description noselect">{{icoText}}</span>
</label>
<label class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input btcfork" name="BTCFork" value="BTCFork">
<span class="custom-control-indicator"></span>
<span class="custom-control-description noselect">{{btcForkText}}</span>
</label>
    <ul class="required list-group" style="width: 260px;margin-right:10px;margin-left:10px;">
      <li class="list-group-item bg-info">
        <b>Coin Basics</b><br />
        <input type="text" id="currencyName" name="currencyName" placeholder="Currency Name" style="width: 100%">
        {{reactiveVar 'currencyNameMessage'}}
         {{ #if reactiveVar 'currencyName'}}{{> currencyName}}{{/if}}
        <input type="text" id="currencySymbol" name="currencySymbol" placeholder="SYMBOL" style="width: 100%">
        {{ #if reactiveVar 'currencySymbol'}}{{> currencSymbol}}{{/if}}

{{ #if reactiveVar 'isICO'}}

Completed ICO funding
<input type="number" min="0" name="ICOcoinsProduced" id="ICOcoinsProduced" placeholder="Coins allocated" style="width: 100%">
<input type="number" min="0" name="ICOfundsRaised" id="ICOfundsRaised" placeholder="Funds raised in total" style="width: 100%">
{{ #if reactiveVar 'ICOfundsRaised'}}{{> ICOfundsRaised}}{{/if}}
Currency: <select class="form-control icocurrency" id="icocurrency" name="icocurrency" style="width: 80px;">
  <option disabled selected>----</option>
  <option>USD</option>
  <option>BTC</option>
  <option>ETH</option>
  <option>ETC</option>
</select>
{{ #unless reactiveVar 'coinExists'}}
Planned rounds (total)
<input type="number" min="0" name="ICOcoinsIntended" id="ICOcoinsIntended" placeholder="Coins to be allocated" style="width: 100%">
Start time (GMT)
<div class="float-right" style="width:100%; display:flex;">
  <input type="number" min="2017" max="2020" name="ICOyear" placeholder="YYYY" id="icodate" style="width:80px">
  <input type="number" min="1" max="12" name="ICOmonth" placeholder="MM" id="icodate" style="width: 60px">
  <input type="number" min="1" max="31" name="ICOday" placeholder="DD" id="icodate" style="width: 60px">
  <input type="number" min="0" max="23" name="ICOhour" placeholder="HH" id="icodate" style="width: 60px">
  <input type="number" min="0" max="59" name="ICOminute" placeholder="MM" id="icodate" style="width: 60px">
  <input type="number" min="0" max="59" name="ICOsecond" placeholder="SS" id="icodate" style="width: 60px">
</div>
{{ /unless }}



{{ /if }}


{{ #unless reactiveVar 'btcfork'}}
{{ #if reactiveVar 'coinExists'}}Genesis Block Date{{ /if }}
{{ #unless reactiveVar 'coinExists'}}Genesis Block ETA{{ /unless }}
  <div class="float-right" style="width:100%; display:flex;">
    <input type="number" min="2008" max="2020" name="genesisYear" placeholder="YYYY" id="genesis" style="width:80px">
    <input type="number" min="1" max="12" name="genesisMonth" placeholder="MM" id="genesis" style="width: 60px">
    <input type="number" min="1" max="31" name="genesisDay" placeholder="DD" id="genesis" style="width: 60px">
  </div>
{{ #if reactiveVar 'coinExists' }}{{ #if reactiveVar 'genesis' }}{{> genesisTimestamp}}{{/if}}{{/if}}
{{ #unless reactiveVar 'coinExists' }}{{ #if reactiveVar 'genesis' }}{{> intendedLaunch}}{{/if}}{{/unless}}
{{ /unless }}

{{ #if reactiveVar 'btcfork' }}
<select class="form-control forkParent" id="forkParent" name="forkParent">
  <option disabled selected>--Select Fork Parent--</option>
  <option>Bitcoin</option>
  <option>Bitcoin Cash</option>
</select>
  {{ #if reactiveVar 'forkParent' }}{{> forkParent}}{{/if}}
  <input type="number" min="478500" max="600000" name="forkHeight" id="forkHeight" style="width: 100%;" placeholder="Fork Height">
  {{ #if reactiveVar 'forkHeight' }}{{> forkHeight}}{{/if}}
{{ /if }}

  <input type="number" min="0" name="premine" id="premine" placeholder="Premine amount" style="width: 100%">
  {{ #if reactiveVar 'premine' }}{{> premine}}{{/if}}
  <input type="number" name="maxCoins" id="maxCoins" placeholder="Maximum Coins" style="width: 100%">
  {{ #if reactiveVar 'maxCoins' }}{{> maxCoins}}{{/if}}
</li></ul>

  <div class="float-right">
  <ul class="list-group" style="width: 250px;margin-right:10px;margin-left:10px;">
  <li class="list-group-item bg-danger"><div class="form-group">
    <b>Security</b><br />
    <select class="form-control consensus" id="consensusType" name="consensusSecurity">
      <option disabled selected>--Select One--</option>
      {{#each security}}
       <option>{{name}}</option>
      {{ /each }}
    </select>
  </div>
  {{#if reactiveVar 'POWSelect'}}
 <div class="form-group">
    <select class="form-control" id="exampleFormControlSelect1" name="hashAlgorithm">
      <option disabled selected>--Select One--</option>
      {{#each subsecurity}}
      <option>{{name}}</option>
      {{ /each }}
    </select>
  </div>
  {{/if}}
  {{ #if reactiveVar 'btcfork' }}
  Does this fork have two-way replay protection?
  <label class="radio-inline"><input type="radio" name="replayProtection" value="true" id="replaytrue"> Yes</label>&nbsp;&nbsp;&nbsp;
  <label class="radio-inline"><input type="radio" name="replayProtection" value="false" id="replayfalse"> No</label>
  {{/if}}
</li></ul>



  </div>
</div>
<div class="row">
  <div class="float-left">
  &nbsp;
  <ul class="list-group" style="width: 260px;margin-right:10px;margin-left:10px;">
  <li class="list-group-item bg-success">
    <b>Community</b><br />
    <textarea class="form-control" id="gitRepo" rows="2" placeholder="Github repository for main node software" name="gitRepo"></textarea>
    {{ #if reactiveVar 'gitRepo' }}{{> gitRepo}}{{/if}}
    <textarea class="form-control" id="officialSite" rows="2" placeholder="Official website" name="officialSite"></textarea>
    {{ #if reactiveVar 'officialSite' }}{{> officialSite}}{{/if}}
    <textarea class="form-control" id="reddit" rows="2" placeholder="Reddit" name="reddit"></textarea>
    {{ #if reactiveVar 'reddit' }}{{> reddit}}{{/if}}
    <textarea class="form-control" id="blockExplorer" rows="2" placeholder="Block Explorer" name="blockExplorer"></textarea>
  </li>
  </ul>
  </div>

  <div class="float-right">
  &nbsp;
  <ul class="list-group" style="width: 260px;margin-right:10px;margin-left:10px;">
  <li class="list-group-item bg-primary">
    <b>Features</b><br />
    <textarea class="form-control" id="featureTags" rows="4" placeholder="Feature tags separated with commas (,). Look to the right for examples =>" name="featureTags"></textarea>
    {{ #if reactiveVar 'featureTags' }}{{> featureTags}}{{/if}}
  {{#if reactiveVar 'coinExists'}}
    Block time: <input type="text" id="blockTime" name="blockTime" placeholder="" style="width:60px;"> (seconds) <br />
    {{ #if reactiveVar 'blockTime' }}{{> blockTime}}{{/if}}
    Confirmations: <input type="text" id="confirmations" name="confirmations" placeholder="" style="width: 40px;">
    {{ #if reactiveVar 'confirmations' }}{{> confirmations}}{{/if}}
  {{/if}}
  </li>
  </ul>
  </div>
</div>

{{#if reactiveVar 'coinExists'}}
<div class="row">
{{ #unless reactiveVar 'btcfork' }}
  <div class="float-left">
  &nbsp;
  <ul class="list-group" style="width: 260px;margin-right:10px;margin-left:10px;">
  <li class="list-group-item bg-info">
    <b>History</b><br />
    <textarea class="form-control" id="previousNames" rows="2" placeholder="Previous names separated with commas (,)" name="previousNames"></textarea>
    {{ #if reactiveVar 'previousNames' }}{{> previousNames}}{{/if}}
  </li>
  </ul>
  </div>
{{/unless}}

  <div class="float-right">
  &nbsp;
  <ul class="list-group" style="width: 260px;margin-right:10px;margin-left:10px;">
  <li class="list-group-item bg-warning">
    <b>Exchanges</b><br />
    <textarea class="form-control" id="exchanges" rows="4" placeholder="Exchanges separated with commas (,). Look to the right for examples =>" name="exchanges"></textarea>
    {{ #if reactiveVar 'exchanges' }}{{> exchanges}}{{/if}}
  </li>
  </ul>
  </div>
</div>
{{/if}}
{{#if questions.length}}
<div class="row">
  &nbsp;
<ul class="list-group" style="width: 100%;margin-right:10px;margin-left:10px;">
<li class="list-group-item bg-primary">
  <b>Additional questions</b><br />
  {{#each questions}}
  {{question}} <span style="float: right;"><input type="radio" name="question_{{_id}}" value="true"><label>Yes</label>&nbsp;&nbsp;<input type="radio" name="question_{{_id}}" value="false"><label>No</label></span><br /><br />
  {{/each}}
</li>
</ul>
</div>
{{/if}}
<div class="row">
  &nbsp;
<ul class="list-group" style="width: 100%;margin-right:10px;margin-left:10px;">
<li class="list-group-item bg-primary">
  <b>Currency Logo</b><br />
  <input type='file' id='currencyLogoInput'>
  <input type='hidden' id='currencyLogoFilename'>
</li>
</ul>
</div>
<div class="row">
  &nbsp;
<ul class="list-group" style="width: 100%;margin-right:10px;margin-left:10px;">
<li class="list-group-item bg-primary">
  <b>Additional information</b><br />
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="You can add a message here and it will be seen by the person responsible for fact-checking and approval." name="notes"></textarea>
</li>
</ul>
</div>

</div>
<div class="float-left" style="margin-right:10px;margin-left:10px;margin-bottom:10px;">
  <button type="submit" class="btn btn-primary" id="submit">Add Coin</button>
  <button class="btn btn-danger" id="cancel">Cancel</button>
</div></div></div></form>

</template>
