<template name="ratings">
  {{populateUI}}
  <div id="outstandingRatings" class="text-center">You have {{outstandingRatings}} questions in your queue.
  {{> displayRatings}}
  </div>
  <div id="currencyChoices" style="display:none;">
    {{> currencyChoices}}
  </div>
  <div id="displayRatings" style="display:none;" class="text-center">
    {{> displayRatings}}
  </div>
</template>

<template name="currencyChoices">
  Please select any currencies that you have a wallet installed for.
  <div class="row">
  {{#each currencies}}
  <div class="col-sm-4 col-md-4 col-lg-4">
    {{> currencyChoice}}
  </div>
  {{> upload}}
  {{/each}}
</div>
  <button id="populateRatings">Next</button>
</template>

<template name="displayRatings">
  {{#with questions}}
  {{> question}}
  {{/with}}
</template>

<template name="question">
  <h3 style="margin-top:50px;">{{questionText}}?</h3>
  <div class="row" style="margin-top:50px;">
    <div class="col-4 text-center choice" id={{currency0Id}}><h3>{{currency0Name}}<br />
      <img src="https://raw.githubusercontent.com/reactjs/redux/master/logo/logo.png" width="100px" /></h3></div>
    <div class="col-4 text-center choice" id="tie"><br />Both are about the same<br /></div>
    <div class="col-4 text-center choice" id={{currency1Id}}><h3>{{currency1Name}}<br />
      <img src="https://raw.githubusercontent.com/reactjs/redux/master/logo/logo.png" width="100px" /></h3></div>
</div>
</template>


<template name="currencyChoice">
    <a href="#" id="toggle{{_id}}">{{currencyName}}</a>

</template>

<template name="upload">
  <div class="row" style="display:none;" id="upload{{_id}}">
    <div style="padding-left:50px;padding-right:50px;">
      <h4>Upload {{currencyName}} images</h4>
    <p>Please take screen-shots of the wallet you're using for {{currencyName}}. Please crop the image(s) so only the wallet is shown, and <em>blank out any data you consider personal or sensitive.</em></p>
    <p><b>Do not upload any images showing your private key (in text or QR code format) or seed words.</b></p>
    <p><b>Do not</b> use pictures found on the internet or any ratings you provide will be invalid and your account will recieve a flag.</p>
    <p>Main wallet screen/page or transaction history<br />
      <input type='file' id='main'></p>
    <p>Send coins or create transaction screen<br />
      <input type='file' id='transaction'></p>
    <p>Configuration or options<br />
      <input type='file' id='config'></p>
  </div></div>
</template>
