<template name="ratings">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-12">
                <h1>Ratings</h1>
            </div>
        </div>
    </div>
    {{#if activeBounty}}
    <div class="alert alert-danger" role="alert">
    <h5 class="text-center">{{timeRemaining}}</h5><button class="btn btn-danger" id="js-cancel">Cancel</button></div>
    {{/if}}
    {{populateUI}} {{> displayRatings}}
    <div id="currencyChoices" style="display:none;">
        {{> currencyChoices}}
    </div>
    <div id="displayRatings" style="display:none;" class="text-center">
        {{> displayRatings}}
    </div>
    <!--   <hr />
  <h5>ADMIN SHORTCUTS (will later be automatic cron jobs)</h5>
  <button id="elo" class="btn btn-danger">ELO</button>
  <button id="wallets" class="btn btn-danger">WALLETS</button> -->
</template>
<template name="currencyChoices">
    <b>You have already added the following cryptocurrency wallets:</b>
    <div class="row" style="margin-top: 15px;">
        {{#each alreadyAdded}}
        <div class="col-sm-4 col-md-4 col-lg-4">
            <a href="/currency/{{slug}}" class="btn btn-secondary" style="width:100%">{{currencyName}}</a>
        </div>
        {{/each}}
    </div>
    <br />
    <b>Please select any currencies that you actually use (you must have a wallet installed) and you haven't added previously.</b>
    <br /> If you don't see your currency, you might want to <a href="/addcoin">add it</a>.
    <br />
    <br />
    <hr>
    <form id="js-form" class="jumbotron" style="padding:30px;">
        <b class="lead">Filter by</b>
        <div class="input-group">
            <input type="text" id="js-name" class="form-control" placeholder="Enter the name of the cryptocurrency" />
            <span class="input-group-addon"> OR </span>
            <input type="text" id="js-symbol" class="form-control" placeholder="Enter the symbol of the cryptocurrency" />
        </div>
    </form>
    <div class="row" style="margin: 15px 0 20px 0;">
        {{#each currencies}}
        <div class="col-sm-4 col-md-4 col-lg-4">
            {{> currencyChoice}}
            
        </div>
        {{> upload}} {{/each}}
    </div>
    <div class="row">
        <button id="populateRatings" class="btn btn-primary">Next</button>
    </div>
</template>
<template name="displayRatings">
    {{#with questions}} {{> question}} {{/with}}
</template>
<template name="question">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-12">
                <p class="lead">{{questionText}}?</p>
                <hr>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="card-deck text-center" style="padding-top:2em">
            <div class="card pointer greyHover choice" id="{{currency0Name}}">
                <div class="card-body">
                    <h5 class="card-title">{{currency0.currencyName}}</h5>
                    <img class="card-img-top mx-auto d-block" style="width: 8rem;padding:10px" src="{{getLogo currency0.currencyLogoFilename}}" alt="Card image cap">
                </div>
            </div>
            <div class="card pointer greyHover text-white bg-dark choice" id="tie">
                <div class="card-body">
                    <h5 class="card-title"><br />Both are about the same</h5>
                    <img src="/images/equal-symbol.png">
                </div>
            </div>
            <div class="card pointer greyHover choice" id="{{currency1Name}}">
                <div class="card-body">
                    <h5 class="card-title">{{currency1.currencyName}}</h5>
                    <img class="card-img-top mx-auto d-block" style="width: 8rem;padding:10px" src="{{getLogo currency1.currencyLogoFilename}}" alt="Card image cap">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <br/>
            <h5> You have <strong>{{outstandingRatings}}</strong> questions in your queue.</h5>
        </div>
    </div>
</template>
<template name="currencyChoice">
    <button data-toggle="modal" data-target="#upload{{_id}}" id="toggle{{_id}}" type="button" class="btn btn-secondary" style="width:100%">{{currencyName}} <span class="badge badge-pill badge-success">{{uploadedCount _id}}</span>
</button>
</template>
<template name="upload">
    <div class="modal fade" id="upload{{_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload {{currencyName}} images</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Instructions</h5>
                    <p>Please take screen-shots of the wallet you're using for {{currencyName}}. Please crop the image(s) so only the wallet is shown, and <em>blank out any data you consider personal or sensitive.</em></p>
                    <p><b>Do not upload any images showing your private key (in text or QR code format) or seed words.</b></p>
                    <p><b>Do not</b> use pictures found on the internet or any ratings you provide will be invalid and your account will recieve a flag.</p>
                    <hr>
                    <p>
                        <h6>Main wallet screen/page or transaction history</h6>
                        <label id="label_main_or_home_{{_id}}" class="btn {{uploadedCount _id 'main_or_home'}}" for="main_or_home_{{_id}}">
                            <input id="main_or_home_{{_id}}" type="file" style="display:none" onchange="$('#fileInfo1').html(this.files[0].name)" class="file_{{_id}}"> <span class="file_main_or_home_{{_id}}">UPLOAD</span>
                        </label>
                        {{#if uploadedCount _id 'main_or_home'}}<a href="{{getWalletImageURL _id 'main_or_home'}}"><i class="fa fa-image" style="font-size:2.5em"></i></a>{{/if}}
                        <span class='label label-info' id="fileInfo1"></span>
                    </p>
                    <p>
                        <h6>Send coins or create transaction screen</h6>
                        <label id="label_send_transaction_{{_id}}" class="btn {{uploadedCount _id 'send_transaction'}}" for="send_transaction_{{_id}}">
                            <input id="send_transaction_{{_id}}" type="file" style="display:none" onchange="$('#fileInfo2').html(this.files[0].name)" class="file_{{_id}}"> <span class="file_send_transaction_{{_id}}">UPLOAD</span>
                        </label>
                        {{#if uploadedCount _id 'send_transaction'}}<a href="{{getWalletImageURL _id 'send_transaction'}}"><i class="fa fa-image" style="font-size:2.5em"></i></a>{{/if}}
                        <span class='label label-info' id="fileInfo2"></span>
                       
                    </p>

                    <p>
                        <h6>Configuration or options</h6>
                      <label id="label_configuration_or_options_{{_id}}" class="btn {{uploadedCount _id 'configuration_or_options'}}" for="configuration_or_options_{{_id}}">
                            <input id="configuration_or_options_{{_id}}" type="file" style="display:none" onchange="$('#fileInfo3').html(this.files[0].name)" class="file_{{_id}}"> <span class="file_configuration_or_options_{{_id}}">UPLOAD</span>
                        </label>
{{#if uploadedCount _id 'configuration_or_options'}}<a href="{{getWalletImageURL _id 'configuration_or_options'}}"><i class="fa fa-image" style="font-size:2.5em"></i></a>{{/if}}
                        <span class='label label-info' id="fileInfo3"></span>
                    </p>
                    {{#if walletImageError}}
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{walletImageError}}
                    </div>
                    {{/if}} {{#if walletImageSuccess}}
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{walletImageSuccess}}
                    </div>
                    {{/if}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>