
<template name="wallet">
  <div class="alert alert-info" role="alert">
  <a href="/">HOME</a>  <div style="margin-top:20px;"><h5 style="display:inline-block;vertical-align:baseline;">My Wallet</h5> <div class="float-right"> <h6>Total Balance: {{balance}} ZRQ</h6></div></div>
</div>
{{#each entry}}
{{> walletItem}}
{{/each}}
</template>

<template name="walletItem">
  <div class="card">
  <div class="card-block">
    <p class="card-text">{{message}}</p>
  </div>
  <div class="card-footer text-muted">
    Recieved {{time}} from {{from}}
  </div>
</div>

</template>
