<template name="moderatorPendingCurrency">
  <div class="card border-secondary mb-3 mb-3" style="display:{{display}};min-width:300px;overflow:hidden;">
  <div class="card-header" style="height:50px"><h4 class="pull-left">{{currencyName}} ({{currencySymbol}})</h4></div>
  <div class="card-body">
    <button type="button" class="btn btn-danger" id="reject">Reject</button><button type="button" class="btn btn-success" id="approve">Approve</button>
  </div>
  </div>
</template>

<template name="moderatorPendingBounty">
  <div class="card border-secondary mb-3 mb-3" style="display:{{display}};min-width:300px;overflow:hidden;">
  <div class="card-header" style="height:50px"><h4 class="pull-left">{{currencyName}} {{bountyType}}</h4></div>
  <div class="card-body">
    Problem: {{problem}}. <br />
    Solution: {{solution}}.
  <h5 style="margin-top:10px;">Data provided by {{currentUsername}}</h5>
  <h6>Mandatory Items</h6>
  <ul>
    <li>API Call: <a href={{APICall}}>{{APICall}}</a></li>
    <li>Hashrate data object: [{{Hashrate}}], real output when calling API: [{{returnedHashrate}}] ({{hashrateUnits}})</li>
  </ul>
  Does [{{returnedHashrate}}] look like it's in {{hashrateUnits}}? A block explorer for {{currencyName}} should tell you the current network hashrate.
  <h6 style="margin-top: 10px;">Option items (can be blank, but not incorrect)</h6>
  <ul>
    <li>Block Height: [{{Height}}], output: [{{returnedHeight}}]</li>
    <li>Block Reward: [{{BlockReward}}], output: [{{returnedBlockReward}}]</li>
    <li>Timestamp: [{{Timestamp}}], output: [{{returnedTimestamp}}] (Unix timestamp)</li>
    <li>Total Coins in Existence: [{{Emissions}}], output: [{{returnedEmissions}}]</li>
  </ul>
    <button type="button" class="btn btn-danger" id="reject">Reject</button><button type="button" class="btn btn-success" id="approve" style="margin-left:10px;">Approve</button>
  </div>
  </div>
</template>
