<template name="questions">
	{{#each questions}}
		{{question}} ({{#if negative}}-{{else}}+{{/if}}) ({{catagory}}) {{#if context}}(shown at: {{context}}){{/if}} {{#if author}}<a href="#" class="js-context">+/-</a> <a href="#" class="js-delete">X</a>{{/if}}<br />
	{{/each}}
	<br />
	<b>* Legend:</b> <i>+/-</i> to change context, <i>X</i> to delete
<form>
  <input id="question" placeholder="Question here" size="100">
  <select id="js-cat">
  	<option value="wallet">Wallet</option>
  	<option value="community">Community</option>
  	<option value="codebase">Codebase</option>
  	<option value="decentralization">Decentralization</option>
  </select>
  <input type="checkbox" id="js-negative">Negative<br />
  {{#if needsContext}}<select id="context">
  	<option value="wallet">Wallet</option>
  	<option value="community">Community</option>
  	<option value="codebase">Codebase</option>
  	<option value="add-currency">Add currency</option>
  </select> (context){{/if}}
  <button type="submit" class="btn btn-primary" id="submit">Add Question</button>
</form>
</template>
