<template name="topNav">
    <nav class="navbar navbar-expand navbar-dark bg-primary fixed-top" id="topnav">
        <button class="navbar-toggler navbar-toggler-right" type="button" id="navbar-toggler" style="display:block">
            <i class="fa fa-bars bars" aria-hidden="true"></i>
        </button>
        <a class="navbar-brand d-none d-sm-block" href="/">BLOCKRAZOR</a>
        <a class="navbar-brand brand-image text-white d-sm-none" href="/"><img src="/codebase_images/logo.small.svg" style="width:30px"></a>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link bounties-icon fa fa-plus-square d-md-none" href="/bounties"></a>
                    <a class="nav-link d-none d-md-block" href="/bounties"><span class="separator"></span> BOUNTIES</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 right-nav-item">
                <div class="menu-right mr-sm-2 notifications">
                    <ul class="navbar-nav mr-auto">
                      {{#if currentUser}}
                      <li class="nav-item dropdown">
                        <!-- d-none d-sm-block will hide when on mobile -->
                        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true"><strong class="d-none d-sm-block">{{currentUser.username}}<i class="ml-2 fa fa-caret-down"></i></strong>
                        <!-- d-sm-none will display when on mobile -->
                        <strong class="d-sm-none"><i class="fa fa-user"></i></strong></a>
                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 37px, 0px); top: 0px; left: 0px; will-change: transform;">
                          <a class="dropdown-item" href="/profile/{{slug}}">My profile</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#" id="js-logout">Logout</a>
                        </div>
                      </li>
                      <li class="nav-item">
                        <a href="/faq" title="BlockRazor FAQ" class=" nav-link"><i class="fa fa-question " style="font-size: 19px"></i></a>
                      </li>
                      <li class="nav-item">
                        {{#if hasBounties activeBounties }}
                        <a href="{{bountyUrl activeBounties}}" title="Active BlockRazor Bounties" class="nav-link">
                          <i class="fa fa-dot-circle" style="font-size: 19px"></i>
                          <span class="badge badge-pill badge-danger">{{ activeBounties.length }}</span>
                        </a>
                        {{/if}}
                      </li>
                      <li class="nav-item">
<!--                         <a href="/notifications" class="nav-link" title="Your Notifications"><i class="fa fa-bell" style="font-size: 19px"></i>
                        {{#if activityNotifications}}<span class="badge badge-pill badge-light">{{activityNotifications}}</span>{{/if}}
                        </a> -->
                      </li>
                      <li class="nav-item">
     <!--                    <a href="/wallet" id="navNotification" title="Open your Wallet" class="nav-link d-sm-none"><i class="fa fa-university "></i>
                        {{#if walletNotifications}}<span class="badge badge-pill badge-light">{{walletNotifications}}</span>{{/if}}
                        </a> -->
                      </li>
<!--                       <li class="nav-item">
                        <a href="/wallet" class="nav-link  text-muted ml-2 d-none d-sm-block">{{balance}} KZR
                        {{#if walletNotifications}}<span class="badge badge-pill badge-light">{{walletNotifications}}</span>{{/if}}
                        </a>
                      </li> -->
                      {{else}}
                      <li class="nav-item">
                          <a href="/login" class="nav-link ">Sign in</a>
                      </li>
                      {{/if}}
                    </ul>
                </div>
            </form>
        </div>
    </nav>
</template>
