#topnav{
  z-index: 2147483647 !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  z-index: 9;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0;
  &:after{
    bottom: -5px;
    box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, .06);
    content: "";
    height: 5px;
    left: 0px;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 2050;
  }
  > div{
    display: flex;
    align-items: center;
    height: 100%;
  }
  button, a{
    display: flex;
    align-items: center;
    height: 100%;
    outline: none;
    color: #1a1a1a;
    border: none;
    box-shadow: none;
    &:active, &:focus{
      outline: none;
      border: none;
      box-shadow: none;
    }
  }
  .navbar-brand{
    margin: 0;
  }
  .right-nav-item{
    padding-right: 40px;
    .notifications{
      position: relative;
      height: 100%;
      display: flex;
      min-width: 60px;
      a{
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        min-width: 30px;
        &:hover, &:active{
          text-decoration: none;
        }
        i.fa{
          font-size: 16px;
        }
        span{
          position: absolute;
          top: 5px;
          right: 5px;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .github-corner{
      display: none;
    }
  }
}
