<template name="topNav">
  <nav class="navbar navbar-toggleable-md navbar-dark bg-primary text-white" id="topnav">

    <div>
      <button class="navbar-toggler navbar-toggler-right" type="button" id="navbar-toggler">
        <i class="fa fa-bars bars text-white" aria-hidden="true" style="display:none"></i>

        <i class="fa fa-arrow-left arrow text-white" aria-hidden="true" ></i>

      </button>
      <a class="navbar-brand text-white d-none d-sm-block mt-4" href="/">BLOCKRAZOR</a>
      <a class="navbar-brand text-white d-sm-none" href="/"><img src="/images/logo.small.svg" style="width:30px"></a>
    </div>
    <div class="right-nav-item">
        {{#if currentUser}}
        <div class="dropdown show">
          <a class="dropdown-toggle text-white" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="d-none d-sm-block">{{currentUser.username}}</span><span class="d-sm-none"><i class="fa fa-user text-white"></i></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/profile/{{slug}}">My profile</a>
            <a class="dropdown-item" href="#" id="js-logout">Logout</a>
          </div>
      </div>
      <div class="notifications pl-4">


             <a href="/faq" title="BlockRazor FAQ">
      <i class="fa fa-question text-white" style="font-size: 19px"></i> 
    </a>   
        <a href="/bounties" title="BlockRazor Bounties" class="d-sm-none" >
      <i class="fa fa-plus-square text-white" style="font-size: 19px"></i> 
    </a>
 {{#if hasBounties activeBounties }}
<a href="{{bountyUrl activeBounties}}" title="Active BlockRazor Bounties">
      <i class="fa fa-dot-circle-o text-white" style="font-size: 19px"></i> 
        <span class="badge badge-danger">{{ activeBounties.length }}</span>
    </a> {{/if}}
        <a href="/notifications" title="Your Notifications" ><i class="fa fa-bell text-white"></i>
          {{#if activityNotifications}}<span class="badge badge-success">{{activityNotifications}}</span>{{/if}}
        </a>
        <a href="/wallet" title="Open your Wallet" ><i class="fa fa-university text-white"></i>
          {{#if walletNotifications}}<span class="badge badge-success">{{walletNotifications}}</span>{{/if}}
        </a>
        <small class="text-muted d-none d-sm-block"><a href="wallet" class="text-white">{{balance}} KZR</a></small>
      </div>
      {{else}}
        <a href="/login" class="text-white">Sign in</a>
      {{/if}}
    </div>

  </nav>
</template>
