/* Common
-------------------------------------------------- */

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  // margin-bottom: 60px;
}

// Footer Fix
.app-body .main{
  position: relative;
  min-height: calc(100vh - 60px);
}