/* Common
-------------------------------------------------- */

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  // margin-bottom: 60px;
}

// Footer Fix
.app-body .main{
  position: relative;
  min-height: calc(100vh - 60px);
  overflow-y: scroll;
}

.reactive-table {
  thead {
    th {
      color: #495057;
      background-color: #e9ecef;
      border-color: #dee2e6;
    }
  }
}